html, body { min-height: 100vh; height: 100%; font-family: Cursive; margin: 0; padding: 0; }

body { display: flex; flex-direction: column; justify-content: middle; background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}

main {
  margin: auto auto;
  background-color: white;
  padding: 100px;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 silver;
}

th, td {
  text-align: left;
  border: solid 1px silver;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 10px;
}

td:last-child {
  text-align: right;
}

thead, tfoot {
  background-color: #333;
  color: white;
}

table {
  border-collapse: collapse;
}
